name: CI, CD

on:
  # Ativadores do workflow
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Executa o workflow manualmente (usar quando for melhorar a pipeline)
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  CI:
    # O serviço irá rodar onde em:
    runs-on: ubuntu-latest

    # Passos que serão executados
    steps:
      - uses: actions/checkout@v2
      
      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}   ## Dados sensíveis é possível usar o "secrets."
          password: ${{ secrets.DOCKERHUB_PWD }}          
          
      - name: Build and push Docker images
        uses: docker/build-push-action@v2.6.1
 
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            christopherfrige/rotten-potatoes:latest
            christopherfrige/rotten-potatoes:${{ github.run_number }}
            
  CD: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Azure Kubernetes set context
        uses: Azure/aks-set-context@v1.1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          resource-group: first-pipeline-CICD
          cluster-name: k8s-bootcamp
